streamlit==1.37.0
pillow
requests
pymupdf==1.24.7
firebase-admin==6.5.0
langchain==0.2.11
langchain-community==0.2.10
faiss-cpu==1.8.0.post1
sentence-transformers==2.7.0
redis==5.0.7
pinecone-client==5.0.1
python-dotenv==1.0.1
